<h2>My Todos</h2>
<div class="row">
  <div class="col-sm-5">
    <ul class="todos">
      <li *ngFor="let todo of todos"
      [class.selected]="todo === selectedTodo"
      (click)="onSelect(todo)">
      <div class="card">
        <div class="section">
          <h3 [ngStyle]="!todo.active && {'text-decoration': 'line-through'}">{{todo.label}}</h3>
          <span class="close"
          (click)="delete(todo); $event.stopPropagation()"></span>
          <button class="small" (click)="done(todo);">Switch status!</button>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="col-sm-7">
  <div class="card">
    <div class="section">
      <label>Label</label> <input #todoLabel placeholder="Coder"/>
      <button (click)="add(todoLabel.value); todoLabel.value=''">
        Add
      </button>
    </div>
  </div>
  <todo-detail [todo]="selectedTodo"></todo-detail>
</div>
</div>
