<h2>My Todos</h2>
<div class="row">
  <div class="col-sm-5">
    <ul class="todos">
      <li *ngFor="let todo of todos"
      [class.selected]="todo === selectedTodo"
      (click)="onSelect(todo)">
      <div class="card">
        <div class="section">
          <h3>{{todo.label}}</h3>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="col-sm-7">
  <todo-detail [todo]="selectedTodo"></todo-detail>
  <div class="card">
    <div class="section">
    <label>Label</label> <input #todoLabel placeholder="Coder"/>
    <button (click)="add(todoLabel.value); todoLabel.value=''">
      Add
    </button>
  </div>
  </div>
</div>
</div>
